body {
    margin: 0px;
    padding: 0px;
    width: 100%
}


nav {
    padding: 60px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: sticky;
    top: 0
}

img {
    margin-top: 30px;
    height: 190px;
    margin-left: 800px;
}

.sub-cat ul {
    display: flex;
    font-size: 60px;
}

.sub-cat ul li {
    margin-top: 20px;
    margin-left: 150px;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
}

.sub-cat ul li a:nth-child(1) {
    color: black;
    text-decoration: none;
}

.sub-cat ul li a {
    position: relative;
}

.sub-cat ul li a:hover {
    font-size: 60px;
}

.sub-cat ul li a::after {
    content: '';
    width: 0;
    height: 10px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: palevioletred;
    transition: 0.5s;
}

.sub-cat ul li a:hover::after {
    width: 80%;

}

.para {
    text-align: center;
    font-size: 45px;
    background-color: black;
    color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.icon {
    margin-right: 400px;

}

.fa-solid,
.fa-regular {
    font-size: 70px;
    margin-top: 90px;
    margin-left: 200px;
}

/* slider */

#slider img {
    width: 100%;
    height: 2000px;
    margin-left: 0px
}

#slider {
    position: relative;
    width: 100%;
}

#slider .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    font-size: 60px;
    border: none;
    padding: 30px;
    background-color: #1f1f1f;
    color: white;
    cursor: pointer;
}

#slider .btn a {
    text-decoration: none;
    color: white;
}

#slider .btn a:hover {
    font-size: 70px;
}

#slider .btn i {
    padding: 30px;
    font-size: 60px;
    margin-left: 1px;
    margin-top: 2px;
    color: white;
}


/* 3divs */

.sub-div {

    display: flex;
    height: auto;
    width: 100%;
    overflow: hidden;
}

.sub-div img {
    margin-top: 200px;
    width: 100%;
    height: 1220px;
    display: block;
    margin-left: 100px;
    transition: transform 2s;
}

.sub-div img:hover {
    transform: scale(1.1);
}

.sub-div .imag {
    height: 1220px
}



/* footer */
#foot {
    margin-top: 80px;
    border: 1px solid red;
    background-color: #1f1f1f;
    color: RGB(205, 205, 205);
}

#foot footer {
    text-align: center;
    font-size: 50px;
    line-height: 27.2px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 300px
}

#footForm input {
    width: 90%;
    font-size: 70px;
    padding: 70px;
    background-color: #303030;
    border:none;
}

button {
    width: 10%;
    padding: 70px;
    font-size: 70px;
    background-color: #7d7463;
    color:white;
}

footer {
    background-color: #1f1f1f;
    color: white;
}

footer h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#footInfo .links {
    display: flex;
    font-size: 60px;
    margin-left: 400px;
}

#footInfo .links .sublink {
    margin-left: 300px;
}
#footInfo .links .sublink p::after{
    content:'';
    width:0;
    height:5px;
    background-color: white;
    margin:start;
    display: block;
    margin-top: 20px;
}
#footInfo .links .sublink p:hover::after{
    width:70%;
    transition: width 0.5s linear;
}
#footInfo h6 {
    font-size: 60px;
}

.sublink {
    margin-left: 300px;

}
hr{
    width:80%;
}
#footInfo .links .sublink li{
list-style: none;
line-height: 150px;
}

.sublink p {
    color: rgb(215, 211, 211)
}

.sublink p a {
    color: rgb(215, 211, 211);
    text-decoration: none;
}

#footInfo {
    display: flex;
    margin-top: 1%;
}

.uboricimg img {
    width: 70%;
    margin-top: 200px;
    margin-bottom:50px;
    height: 30%;
}

.uboricimg .fa-brands {
    font-size: 70px;
}

#footForm {
    text-align: center;
    margin-bottom: 100px;
}

#footForm input {
    width: 20%
}

#footForm button {
    width: 10%;
    background-color: RGB(82, 82, 82);
}

h2 {
    text-align: center;
    font-size: 100px;
    line-height: 300px;
}

#footer hr {
    height: 1px;
    border: none;
    background-color: #dddddd;
}

#bottom {
    display: flex;
    justify-content: space-between;
}

.icona {
    margin-left: 900px;
}

.icona i {
    margin-right: 70px
}

#bottom #copyright {
    margin-left: 400px;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}

#bottom .fa-brands {
    margin-left: 60px
}

#bottom .i {
    margin-top: 50px;
    margin-right: 15%;
    font-size: 90px;
}