.list {
    display: flex;
    list-style: none;
    margin-left: 300px;
    font-size: 60px;
    margin-top:100px;
    color:rgb(138, 128, 128);
   text-decoration: none;
}
.wish2{
    margin-left:45%;
    margin-top:10%;
    font-size: 200px;
}
.wish{
    font-size: 90px;
    margin-left:150px;
  
}
table, th,td{
    margin-left:10%;
    padding:10px;
    background-color:rgb(255, 250, 250);
    font-size: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    width:70%;
    margin-bottom:6%;
}
